@import "tailwindcss";

body {
  background: black;
}

.nav-bg {
  background: linear-gradient(
    180deg,
    #000000 -50%,
    rgba(0, 0, 0, 0) 170.00000000000003%
  );
}

.hero-bg {
  background: radial-gradient(50% 85% at 45% 7.5%, #031457 0%, #000 100%);
}
